@model HRApi.Models.Company

@{
    ViewData["Title"] = "Edit";
    Layout = "~/VIews/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Company</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="CompanyId" />
        <div class="form-group">
            <label asp-for="CompanyName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CompanyDesc" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CompanyDesc" class="form-control" />
                <span asp-validation-for="CompanyDesc" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CompanyCity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CompanyCity" class="form-control" />
                <span asp-validation-for="CompanyCity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CompanyCountry" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CompanyCountry" class="form-control" />
                <span asp-validation-for="CompanyCountry" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CompanyPhone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CompanyPhone" class="form-control" />
                <span asp-validation-for="CompanyPhone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CompanyEmail" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CompanyEmail" class="form-control" />
                <span asp-validation-for="CompanyEmail" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CompanyWebSite" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CompanyWebSite" class="form-control" />
                <span asp-validation-for="CompanyWebSite" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
